# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders (if you make one later)
venv/
env/

# Ignore system files
.DS_Store
